<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <img src="../../../../assets/icon-people.png" alt="" height="100" width="100">
                <br>
                My Data (Admin)
            </div>
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="form-group">
                                <input type="text" class="form-control" name="document_id" [(ngModel)]="data.document_id" placeholder="Document Id">
                            </div>                     
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" [(ngModel)]="data.name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="last_name" [(ngModel)]="data.last_name" placeholder="Last Name">
                            </div>      
                            <div class="form-group">
                                <input type="text" class="form-control" name="age" [(ngModel)]="data.age" placeholder="Age">
                            </div>                                                         
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" [(ngModel)]="data.email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" [(ngModel)]="data.phone" placeholder="Phone">
                            </div>                      
                            <div class="form-group">
                                <input type="text" class="form-control" name="address" [(ngModel)]="data.address" placeholder="Address">
                            </div>                 
                            <div class="form-group">
                                <input type="text" class="form-control" name="city" [(ngModel)]="data.city" placeholder="City">
                            </div>                           
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" [(ngModel)]="data.password" placeholder="Password">
                            </div>
                        </div>                
                    </div>                                                   
                </form>
            </div>
        </div>
    </div>
</div>        

